/SCK.iml
/shelf/
/workspace.xml
/.gitignore
/compiler.xml
/jarRepositories.xml
/misc.xml
/vcs.xml
/target/classes/stringcalc/StringCalc.class
/target/test-classes/stringcalc/StringCalcTest.class
/.idea/uiDesigner.xml
